div.badge {
  display: inline-block;
  border-radius: 0.75em;
  font-family: "Dejavu Sans", "Arial";
}
div.badge div {
  display: inline-block;
  float: left;
  text-transform: lowercase;
  color: #fff;
  text-shadow: 0px 0.1em 0px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  border: 0;
}
div.badge div:first-child,
div.badge div:first-child span {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
div.badge div:last-child,
div.badge div:last-child span {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
div.badge div span {
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(187, 187, 187, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  padding: 0.25em 0.5em;
  box-sizing: border-box;
}
.badge .name {
  background: #555555;
}
.badge .status.green {
  background: #44cc11;
}
.badge .status.yellow {
  background: #ddcc00;
}
.badge .status.blue {
  background: #00aadd;
}
.badge .status.red {
  background: #cc1100;
}
.badge .status.gray {
  background: #cccccc;
}
