.cards
  display flex
  flex-wrap wrap
  justify-content space-between
  justify-content center
  justify-items center
  margin-top 1rem
.card
  flex 0 46%
  margin 2%
  justify-content center
  justify-items center
.card-sm
  flex 0 21%
  margin 1%


@media (max-width: ($MQMobile + 1px))
  .cards
    display block