<template>
  <div class="home">
    <div class="hero">
      <img
        v-if="data.heroImage"
        :src="$withBase(data.heroImage)"
        alt="hero"
        class="clickable"
        @click="emojifun()"
      />

      <div class="item">
        <h1 class="text-left clickable" @click="randomizeEmoji()">
          {{ data.heroText || $title || 'Hello' }}
          <span class="emojiRotate" v-if="data.heroEmoji">{{ currEmoji }}</span>
        </h1>

        <p class="description text-left">
          {{ data.tagline || $description || 'Welcome to your VuePress site' }}
        </p>

        <p class="description-small text-left">{{ data.subtext }}</p>

        <p class="action text-left" v-if="data.actionText && data.actionLink">
          <NavLink
            class="action-button"
            :item="{
              link: 'https://twitter.com/olearycrew',
              text: 'Twitter 🐦',
            }"
          />
          <NavLink
            class="action-button action-button-white"
            :item="{
              link: 'https://mastodon.social/@olearycrew',
              text: 'Mastodon 🐘',
            }"
          />
          <NavLink class="action-button" :item="actionLink" />
        </p>
      </div>
    </div>

    <div class="features" v-if="data.features && data.features.length">
      <div
        class="feature"
        v-for="(feature, index) in data.features"
        :key="index"
      >
        <a :href="feature.href">
          <h2>{{ feature.title }}</h2>
        </a>
        <p>{{ feature.details }}</p>
        <p class="action text-left" v-if="feature.href && feature.link_text">
          <NavLink
            class="action-button"
            :item="{ link: feature.href, text: feature.link_text }"
          />
        </p>
      </div>
    </div>

    <Content custom class="content" />
  </div>
</template>

<script>
import NavLink from '../components/NavLink.vue';

export default {
  components: { NavLink },

  data() {
    return {
      currEmoji: ':)',
    };
  },

  mounted() {
    this.randomizeEmoji();
  },

  computed: {
    data() {
      return this.$page.frontmatter;
    },

    actionLink() {
      return {
        link: this.data.actionLink,
        text: this.data.actionText,
      };
    },
  },

  methods: {
    randomizeEmoji() {
      this.currEmoji = this.data.heroEmoji[
        Math.floor(Math.random() * this.data.heroEmoji.length)
      ];
    },
    emojifun() {
      var i;
      for (i = 0; i < 9; i++) {
        setTimeout(() => {
          this.randomizeEmoji();
        }, i * 250);
      }
    },
  },
};
</script>

<style lang="stylus">
@import '../styles/config.styl';

.home {
  padding: $navbarHeight 2rem 0;
  max-width: 960px;
  margin: 0px auto;

  .hero {
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .item {
      flex-grow: 1;
      padding: 1.5rem;
    }

    img {
      max-height: 280px;
      display: block;
      margin: 3rem auto 1.5rem;
    }

    h1 {
      font-size: 3rem;
    }

    h1, .action {
      margin: 1.8rem auto;
    }

    .description {
      max-width: 35rem;
      font-size: 1.6rem;
      line-height: 1.3;
      color: lighten($textColor, 40%);
    }

    .description-small {
      max-width: 35rem;
      font-size: 1.2rem;
      line-height: 1;
      color: lighten($textColor, 40%);
    }

    .action-button {
      display: inline-block;
      font-size: 1.2rem;
      color: #fff;
      background-color: $dark;
      padding: 0.8rem 1.6rem;
      border-radius: 4px;
      transition: background-color 0.1s ease;
      box-sizing: border-box;
      border-bottom: 1px solid darken($accentColor, 10%);

      &:hover {
        background-color: lighten($accentColor, 20%);
      }
    }
  }

  .features {
    border-top: 1px solid $borderColor;
    padding: 1.2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
  }

  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      color: lighten($textColor, 10%);
    }

    p {
      color: lighten($textColor, 25%);
    }
  }
}

@media (max-width: $MQMobile) {
  .home {
    .features {
      flex-direction: column;
    }

    .feature {
      max-width: 100%;
      padding: 0 2.5rem;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .home {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .hero {
      img {
        max-height: 210px;
        margin: 2rem auto 1.2rem;
      }

      h1 {
        font-size: 2rem;
      }

      h1, .description, .action {
        margin: 1.2rem auto;
      }

      .description {
        font-size: 1.2rem;
      }

      .action-button {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .feature {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}
</style>
