<template>
  <div class="page">
    <slot name="top" />

    <div class="content">
      <h1>Talks</h1>
      <Content />
      <h2>Featured Videos</h2>
      <FeaturedVideos
        :videos="[
          { title: 'The Asynchronous Enterprise', youtubeId: 'xRro-dDsYPU' },
          { title: 'Failure is not an option', youtubeId: 'cRGjw04ZA4M' },
          {
            title: 'Stop Being Lazy and DO BETTER',
            youtubeId: 'Ljjueuata0Y',
          },
        ]"
      />
    </div>

    <slot name="bottom" />
  </div>
</template>

<script>
import { resolvePage, normalize, outboundRE, endingSlashRE } from "../util";

import FeaturedVideos from "../../components/FeaturedVideos.vue";
import TalkList from "../../components/TalkList.vue";

export default {
  props: ["sidebarItems"],

  computed: {},

  methods: {},
};
</script>

<style lang="stylus">
@import '../styles/config.styl';
@require '../styles/wrapper.styl';

.page {
  padding-bottom: 2rem;
}

.page-edit {
  @extend $wrapper;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;

  .edit-link {
    display: inline-block;

    a {
      color: lighten($textColor, 25%);
      margin-right: 0.25rem;
    }
  }

  .last-updated {
    float: right;
    font-size: 0.9em;

    .prefix {
      font-weight: 500;
      color: lighten($textColor, 25%);
    }

    .time {
      font-weight: 400;
      color: #aaa;
    }
  }
}

.page-nav {
  @extend $wrapper;
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid $borderColor;
    padding-top: 1rem;
    overflow: auto; // clear float
  }

  .next {
    float: right;
  }
}

@media (max-width: $MQMobile) {
  .page-edit {
    .edit-link {
      margin-bottom: 0.5rem;
    }

    .last-updated {
      font-size: 0.8em;
      float: none;
      text-align: left;
    }
  }
}
</style>
