<script>
export default {
  name: "BlogPostPreview",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    formatPublishDate() {
      const dateFormat = new Date(this.item.frontmatter.date);
      const options = {
        year: "numeric",
        month: "long",
        day: "numeric",
      };

      return dateFormat.toLocaleDateString("en-US", options);
    },
  },
};
</script>

<template>
  <section>
    <time>🗓️ {{ formatPublishDate }}</time>
    <h3 class="blog-post__title">
      <router-link :to="`${item.path}`">{{ item.frontmatter.title }}</router-link>
    </h3>
    <p v-if="item.frontmatter.excerpt">{{ item.frontmatter.excerpt }}</p>
    <p v-if="item.readingTime">Estimated time: {{ item.readingTime.text }}</p>
    <p>
      <router-link :to="`${item.path}#disqus_thread`"></router-link>
    </p>
  </section>
</template>

<style scoped>
.blog-post__button {
  margin-bottom: 1.5rem;
  display: inline-block;
}

.blog-post__title {
  margin-top: 0.5rem;
}

.tag-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 25px;
}

.tag-list__item {
  margin-left: 10px;
}

.tag-list__item:first-child {
  margin-left: 0;
}

.tag-list__btn {
  padding: 5px;
  font-size: 0.9rem;
  background-color: #fff;
}
</style>
