<template>
  <ClientOnly>
    <commento></commento>
  </ClientOnly>
</template>

<script>
import disqus from '../theme/components/disqus.vue';
import commento from '../theme/components/commento.vue';

export default {
  components: {
    disqus,
    commento,
  },
};
</script>
