<template>
  <div>
    <div v-for="(item, index) in videos" :key="index">
      <h3>{{ item.title }}</h3>
      <iframe
        :src="`https://www.youtube.com/embed/${item.youtubeId}`"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        width="640"
        height="360"
      >
      </iframe>
      <router-link v-if="item.path" class="button" :to="item.path"
        >More ></router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "TaskList",
  props: {
    videos: {
      type: Array,
      default: [],
    },
  },
  // computed: {
  //     filteredList() {
  //         if (this.pages) {
  //             return this.pages.filter(p => (p.frontmatter.talk === true)).sort().reverse()
  //         }
  //     }
  // }
};
</script>