<template>
    <div class="card-sm text-center">
        <a :href="link" target="_blank">
            <i :class="`${icon} fa-2x`"/><br/>
            <h2>{{title}}</h2>
        </a>
    </div>
</template>

<script>
export default {
    props: ['icon', 'link', 'title']
}
</script>