<template>
  <div id="commento">
    <div v-show="isLoading" class="text-center">
      <spinner></spinner>
    </div>
    <div>
      <h4>olearycrew Comment Policy</h4>
      <p>
        Be respectful of other people. If you are being a problem, it will be
        apparent and you'll be asked to leave. Please read our Comment Policy
        before commenting.
      </p>
    </div>
    <div v-show="!isLoading" id="commento"></div>
  </div>
</template>

<script>
import spinner from './spinner.vue';

export default {
  name: 'Commento',

  components: {
    spinner,
  },

  data() {
    return {
      isLoading: true,
    };
  },

  methods: {
    loadCommento() {
      var commento_config = function() {
        this.page.url = window.location.href; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      if (document) {
        var s = document.createElement('script');
        s.src = 'https://comments.olearycrew.com/js/commento.js';
        s.setAttribute('data-timestamp', +new Date());
        document.body.appendChild(s);
      }

      // (function() { // DON'T EDIT BELOW THIS LINE
      //   var d = document, s = d.createElement('script');
      //   s.src = 'https://olearycrew.disqus.com/embed.js';
      //   s.setAttribute('data-timestamp', +new Date());
      //   (d.head || d.body).appendChild(s);
      // })();
    },
  },

  created() {},
  mounted() {
    this.loadCommento();
    setTimeout(() => {
      this.isLoading = false;
    }, 1500);
  },
};
</script>
