<template>
<div id="disqus_thread">
    <div v-show="isLoading" class="text-center">
        <spinner></spinner>
    </div>
    <div v-show="!isLoading" id="disqus_thread"></div>
</div>
</template>

<script>

import spinner from './spinner.vue';

export default {
  name: 'Disqus',

  components: {
      spinner,
  },

  data() {
      return {
          isLoading: true
      }
  },

  methods: {
    loadDisqus() {
      var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      if (document) {
        var s = document.createElement('script');
        s.src = 'https://olearycrew.disqus.com/embed.js'
        s.setAttribute('data-timestamp', +new Date());
        document.body.appendChild(s);
      }

      // (function() { // DON'T EDIT BELOW THIS LINE
      //   var d = document, s = d.createElement('script');
      //   s.src = 'https://olearycrew.disqus.com/embed.js';
      //   s.setAttribute('data-timestamp', +new Date());
      //   (d.head || d.body).appendChild(s);
      // })();
    }
  },

  created() {
    
  },
  mounted() {
    this.loadDisqus();
    setTimeout(() => {
        this.isLoading = false;
    }, 1500);
  }
}
</script>